*.class
fail.pid
test.log
test.log/*
target/
files.lst
files.txt
.idea/
*.iml
dist/
*.orig
MorphiumDoku.html
slackurl.inc

.DS_Store

#Eclipse
.classpath
.settings/
.project
test.pid

failed.txt
pom.xml.releaseBackup
release.properties
failed.tmp

*.nix
.direnv
.envrc
.vscode
src/main/java/Examples.java
examples.md
startTS
