*.class
logs/
fail.pid
test.log
test.log/*
target/
files*.lst
files*.txt
classes*
fail_*.pid
*.pid
*.lck
disabled*
.idea/
*.iml
dist/
*.orig
MorphiumDoku.html
slackurl.inc

.DS_Store
test_chunk*.txt
#Eclipse
.classpath
.settings/
.project
test*.pid

failed.txt
pom.xml.releaseBackup
release.properties
failed.tmp

*.nix
.direnv
.envrc
.vscode
src/main/java/Examples.java
examples.md
startTS
disabled.lst
site
node_modules
package-lock.json
package.json

# MkDocs build output
site/
.morphiumserver-local
